.panelprincipal {
    background-color: #f5f5f5; /* Fondo claro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.button {
    background-color: #17c9ce; /* Color de fondo del botón */
    color: white; /* Texto blanco */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 15px; /* Relleno del botón */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
}

.button:hover {
    background-color: #14a3a8; /* Cambio de color al pasar el mouse */
}

.label {
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    color: #333; /* Color del texto */
}